$icomoon-font-path: "../font/iconmoon";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?6v8wuu');
  src:  url('#{$icomoon-font-path}/icomoon.eot?6v8wuu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?6v8wuu') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?6v8wuu') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?6v8wuu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  &:before{
    transition: color 0.3s ease; 
  }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-404 .path1:before {
  content: "\e900";
  color: rgb(114, 114, 114);
}
.icon-404 .path2:before {
  content: "\e901";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path3:before {
  content: "\e902";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path4:before {
  content: "\e903";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path5:before {
  content: "\e904";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path6:before {
  content: "\e905";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path7:before {
  content: "\e906";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path8:before {
  content: "\e907";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path9:before {
  content: "\e908";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path10:before {
  content: "\e909";
  margin-left: -2.328125em;
  color: rgb(227, 229, 229);
}
.icon-404 .path11:before {
  content: "\e90a";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path12:before {
  content: "\e90b";
  margin-left: -2.328125em;
  color: rgb(237, 26, 59);
}
.icon-404 .path13:before {
  content: "\e90c";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path14:before {
  content: "\e90d";
  margin-left: -2.328125em;
  color: rgb(114, 114, 114);
}
.icon-404 .path15:before {
  content: "\e90e";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path16:before {
  content: "\e90f";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path17:before {
  content: "\e910";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path18:before {
  content: "\e911";
  margin-left: -2.328125em;
  color: rgb(227, 229, 229);
}
.icon-404 .path19:before {
  content: "\e912";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path20:before {
  content: "\e913";
  margin-left: -2.328125em;
  color: rgb(0, 0, 0);
}
.icon-404 .path21:before {
  content: "\e914";
  margin-left: -2.328125em;
  color: rgb(1, 1, 1);
}
.icon-404 .path22:before {
  content: "\e915";
  margin-left: -2.328125em;
  color: rgb(1, 1, 1);
}
.icon-404 .path23:before {
  content: "\e916";
  margin-left: -2.328125em;
  color: rgb(1, 1, 1);
}
.icon-404 .path24:before {
  content: "\e917";
  margin-left: -2.328125em;
  color: rgb(237, 26, 59);
}
.icon-404 .path25:before {
  content: "\e918";
  margin-left: -2.328125em;
  color: rgb(255, 255, 255);
  opacity: 0.37;
}
.icon-arrow:before {
  content: "\e919";
}
.icon-arrow_t:before {
  content: "\e91a";
}
.icon-assets:before {
  content: "\e91b";
  color: #ed1f24;
}
.icon-auto:before {
  content: "\e91c";
  color: #ed1f24;
}
.icon-bne:before {
  content: "\e91d";
}
.icon-buss:before {
  content: "\e91e";
  color: #ed1f24;
}
.icon-calen:before {
  content: "\e91f";
}
.icon-check:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e921";
}
.icon-download-arrow:before {
  content: "\e922";
}
.icon-EIB:before {
  content: "\e923";
}
.icon-gradj:before {
  content: "\e924";
  color: #ed1f24;
}
.icon-graf-01 .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-graf-01 .path2:before {
  content: "\e926";
  margin-left: -1.810546875em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-graf-01 .path3:before {
  content: "\e927";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path4:before {
  content: "\e928";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path5:before {
  content: "\e929";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-01 .path6:before {
  content: "\e92a";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path7:before {
  content: "\e92b";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-01 .path8:before {
  content: "\e92c";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path9:before {
  content: "\e92d";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-01 .path10:before {
  content: "\e92e";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path11:before {
  content: "\e92f";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-01 .path12:before {
  content: "\e930";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path13:before {
  content: "\e931";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-01 .path14:before {
  content: "\e932";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path15:before {
  content: "\e933";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-01 .path16:before {
  content: "\e934";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path17:before {
  content: "\e935";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-01 .path18:before {
  content: "\e936";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path19:before {
  content: "\e937";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-01 .path20:before {
  content: "\e938";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path21:before {
  content: "\e939";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-01 .path22:before {
  content: "\e93a";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path23:before {
  content: "\e93b";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path24:before {
  content: "\e93c";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-01 .path25:before {
  content: "\e93d";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path26:before {
  content: "\e93e";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-01 .path27:before {
  content: "\e93f";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-01 .path28:before {
  content: "\e940";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-02 .path1:before {
  content: "\e941";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-graf-02 .path2:before {
  content: "\e942";
  margin-left: -1.810546875em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-graf-02 .path3:before {
  content: "\e943";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path4:before {
  content: "\e944";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path5:before {
  content: "\e945";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-02 .path6:before {
  content: "\e946";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path7:before {
  content: "\e947";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-02 .path8:before {
  content: "\e948";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path9:before {
  content: "\e949";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-02 .path10:before {
  content: "\e94a";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path11:before {
  content: "\e94b";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-02 .path12:before {
  content: "\e94c";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path13:before {
  content: "\e94d";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-02 .path14:before {
  content: "\e94e";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path15:before {
  content: "\e94f";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-02 .path16:before {
  content: "\e950";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path17:before {
  content: "\e951";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-02 .path18:before {
  content: "\e952";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path19:before {
  content: "\e953";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-02 .path20:before {
  content: "\e954";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path21:before {
  content: "\e955";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-02 .path22:before {
  content: "\e956";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path23:before {
  content: "\e957";
  margin-left: -1.810546875em;
  color: rgb(104, 107, 110);
}
.icon-graf-02 .path24:before {
  content: "\e958";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path25:before {
  content: "\e959";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-graf-02 .path26:before {
  content: "\e95a";
  margin-left: -1.810546875em;
  color: rgb(255, 255, 255);
}
.icon-graf-02 .path27:before {
  content: "\e95b";
  margin-left: -1.810546875em;
  color: rgb(230, 0, 40);
}
.icon-indus:before {
  content: "\e95c";
  color: #ed1f24;
}
.icon-it:before {
  content: "\e95d";
  color: #ed1f24;
}
.icon-key:before {
  content: "\e95e";
}
.icon-komer:before {
  content: "\e95f";
  color: #ed1f24;
}
.icon-lizing:before {
  content: "\e960";
  color: #ed1f24;
}
.icon-logo .path1:before {
  content: "\e961";
  color: rgb(0, 0, 0);
}
.icon-logo .path2:before {
  content: "\e962";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path3:before {
  content: "\e963";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path4:before {
  content: "\e964";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path5:before {
  content: "\e965";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path6:before {
  content: "\e966";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path7:before {
  content: "\e967";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path8:before {
  content: "\e968";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path9:before {
  content: "\e969";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path10:before {
  content: "\e96a";
  margin-left: -5.66796875em;
  color: rgb(252, 0, 25);
}
.icon-logo .path11:before {
  content: "\e96b";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo .path12:before {
  content: "\e96c";
  margin-left: -5.66796875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path1:before {
  content: "\e96d";
  color: none;
}
.icon-logo_b .path2:before {
  content: "\e96e";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path3:before {
  content: "\e96f";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path4:before {
  content: "\e970";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path5:before {
  content: "\e971";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path6:before {
  content: "\e972";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path7:before {
  content: "\e973";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path8:before {
  content: "\e974";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path9:before {
  content: "\e975";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_b .path10:before {
  content: "\e976";
  margin-left: -5.0732421875em;
  color: rgb(252, 0, 25);
}
.icon-logo_b .path11:before {
  content: "\e977";
  margin-left: -5.0732421875em;
  color: rgb(0, 0, 0);
}
.icon-logo_b .path12:before {
  content: "\e978";
  margin-left: -5.0732421875em;
  color: rgb(255, 255, 255);
}
.icon-logo_l .path1:before {
  content: "\e979";
  color: rgb(0, 0, 0);
}
.icon-logo_l .path2:before {
  content: "\e97a";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path3:before {
  content: "\e97b";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path4:before {
  content: "\e97c";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path5:before {
  content: "\e97d";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path6:before {
  content: "\e97e";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path7:before {
  content: "\e97f";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path8:before {
  content: "\e980";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path9:before {
  content: "\e981";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path10:before {
  content: "\e982";
  margin-left: -5.66796875em;
  color: rgb(252, 0, 25);
}
.icon-logo_l .path11:before {
  content: "\e983";
  margin-left: -5.66796875em;
  color: rgb(0, 0, 0);
}
.icon-logo_l .path12:before {
  content: "\e984";
  margin-left: -5.66796875em;
  color: rgb(255, 255, 255);
}
.icon-med:before {
  content: "\e985";
  color: #ed1f24;
}
.icon-ok .path1:before {
  content: "\e986";
  color: rgb(114, 114, 114);
}
.icon-ok .path2:before {
  content: "\e987";
  margin-left: -1.2685546875em;
  color: rgb(114, 114, 114);
}
.icon-ok .path3:before {
  content: "\e988";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path4:before {
  content: "\e989";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path5:before {
  content: "\e98a";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path6:before {
  content: "\e98b";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path7:before {
  content: "\e98c";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path8:before {
  content: "\e98d";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path9:before {
  content: "\e98e";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path10:before {
  content: "\e98f";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path11:before {
  content: "\e990";
  margin-left: -1.2685546875em;
  color: rgb(227, 229, 229);
}
.icon-ok .path12:before {
  content: "\e991";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path13:before {
  content: "\e992";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path14:before {
  content: "\e993";
  margin-left: -1.2685546875em;
  color: rgb(237, 26, 59);
}
.icon-ok .path15:before {
  content: "\e994";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path16:before {
  content: "\e995";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path17:before {
  content: "\e996";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path18:before {
  content: "\e997";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path19:before {
  content: "\e998";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path20:before {
  content: "\e999";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-ok .path21:before {
  content: "\e99a";
  margin-left: -1.2685546875em;
  color: rgb(0, 0, 0);
}
.icon-osiguranje:before {
  content: "\e99b";
  color: #ed1f24;
}
.icon-pdf .path1:before {
  content: "\e99c";
  color: rgb(226, 87, 76);
}
.icon-pdf .path2:before {
  content: "\e99d";
  margin-left: -0.875em;
  color: rgb(181, 54, 41);
}
.icon-pdf .path3:before {
  content: "\e99e";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.icon-pin:before {
  content: "\e99f";
}
.icon-polj:before {
  content: "\e9a0";
  color: #ed1f24;
}
.icon-prik:before {
  content: "\e9a1";
  color: #ed1f24;
}
.icon-reg:before {
  content: "\e9a2";
  color: #ed1f24;
}
.icon-stamp:before {
  content: "\e9a3";
  color: #ed1f24;
}
.icon-tar:before {
  content: "\e9a4";
  color: #ed1f24;
}
.icon-tele:before {
  content: "\e9a5";
  color: #ed1f24;
}
.icon-um:before {
  content: "\e9a6";
  color: #ed1f24;
}
.icon-val:before {
  content: "\e9a7";
}
