$icomoon-font-path: "../font/iconmoon";

$icon--arrow-calendar: "\e925";
$icon--arrow-play: "\e927";
$icon--arrow-link: "\e928";
$icon--attachment: "\e924";
$icon--calendar: "\e923";
$icon--arrow: "\e900";
$icon--attention: "\e901";
$icon--bus: "\e902";
$icon--capsule: "\e903";
$icon--check: "\e904";
$icon--chevron: "\e905";
$icon--chevrons: "\e906";
$icon--clock: "\e907";
$icon--close: "\e908";
$icon--creation: "\e909";
$icon--date: "\e90a";
$icon--facebook: "\e90b";
$icon--family: "\e90c";
$icon--google: "\e90d";
$icon--heart: "\e90e";
$icon--instagram: "\e90f";
$icon--last_places: "\e910";
$icon--location: "\e911";
$icon--logo: "\e912";
$icon--metro5: "\e913";
$icon--metro7: "\e914";
$icon--basket: "\e915";
$icon--plus: "\e916";
$icon--premiere: "\e917";
$icon--reserve: "\e918";
$icon--restaurant: "\e919";
$icon--search: "\e91a";
$icon--star: "\e91b";
$icon--talk: "\e91c";
$icon--tickets: "\e91d";
$icon--tramway3b: "\e91e";
$icon--twitter: "\e91f";
$icon--user_logged: "\e920";
$icon--user: "\e921";
$icon--youtube: "\e922";
