.b-contact{
  padding: 0 3rem;
  padding-top: 7.4rem;
  text-align: center;
  @include breakpoint(overPhone){
    padding: 0 5rem;
    padding-top: 8.8rem;
  }

  &__inner{
      border-bottom: 3px solid $color-gray-mid;
      padding-bottom: 6.8rem;
      @include breakpoint(overPhone){
        padding-bottom: 9.1rem;
      }
  }

  &__title{
    @include font-size(24,24);
    @include letter-spacing(0);
    color:$color-black;
    font-family: $ff-main-regular;
    @include breakpoint(overPhone){
      font-family: $ff-main-bold;
    }
  }

  &__text{
    @include font-size(14,17);
    @include letter-spacing(25);
    @include line-height(22, 26);
    color:$color-gray-title;
    font-family: $ff-main-medium;
    margin-top: 1.5rem;
    @include breakpoint(overPhone){
      @include letter-spacing(5);
      margin-top: 0.9rem;
      padding: 0 38rem;
    }
  }

  &__form{
    display: none;
    font-family: $ff-main-thin;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 3.9rem;
    @include breakpoint(overPhone){
      margin-top: 3.6rem;
      width: 64rem;
    }
    & input{
      outline:0;
      border: 1px solid $color-gray-txt;
      padding: 1.9rem 2rem;
      padding-right: 8rem;
      width: 100%;
      @include breakpoint(overPhone){
        padding-right: 20rem;
      }
      &::placeholder{
        font-size: 1.6rem;
      }
    }

  }
  & .c-btn--contact{
    position: relative;
    padding: 0 5rem;
    text-align: center;
    margin-top: 3.3rem;
    line-height: 4.5rem;
    width: 86%;
    @include breakpoint(overPhone){
      padding: 0 10rem;
      margin-top: 4.3rem;
      line-height: 4.5rem;
      width: auto;
    }

    & .text{
      @include font-size(15,15);
      font-family: $ff-main-medium;
    }
  }
}
