//----- Variables / Colors

$color-white                : #ffffff;
$color-black                : #000000;
$color-black-mid            : #333333;
$color-gray                 : #f2f2f2;
$color-gray-2               : #666666;
$color-gray-title           : #686b6e;
$color-gray-mid             : #e6e6e6;
$color-gray-txt             : #8a8e92;
$color-red                  : #e60028;
$color-social               : #4a4a49;
$color-fb                   : #4366b0;
$color-gp                   : #da483e;
$color-twt                  : #2394de;


$colors           : (
  buttons         : ( //----- Buttons colors
    primary       : $color-black,
    secondary     : $color-white
  )
);

// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray  : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
//     @for $soc from 1 to $buttonsLength {
//         $currentButton : nth($buttonsArray, $soc);
//         &--#{$currentButton} { // color
//             color: colorFunc(socials, $currentButton);
//         }
//     }
// }
